<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>elementmerge test {{result}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'django_jsform/django_jsform.css' %}">
    <script defer src="{% static "jsform/jsform.js" %}"></script>
    <script defer src="{% static "jsform/jsform_elementmerge.js" %}"></script>
</head>
<body>
    <p>
        Note - this page does <b>NOT</b> represent any common/recommended UI pattern. Here we are only testing that elementmerge behaves as expected.
    </p>
    <p>
        Generally, a POST form will not re-render the form after a successful submit. Here we're using POST because we want to verify that file inputs keep their input value.
    </p>

    <div elementmerge-nomerge id="nomerge">
    </div>
    <script>
        var d = document.getElementById('nomerge');
        d.style.color = 'green';
        d.innerText = 'This element has dynamic content and attributes, but it will not be reset by the merge.'
        d.appendChild(document.createElement('hr'));

        var p = document.createElement('p');
        p.setAttribute('elementmerge-skip', '');
        p.innerText = 'This element was added dynamically. Since it has [elementmerge-skip], it will not be deleted.';
        document.body.appendChild(p);
    </script>


    {% comment %}
        Django's form.as_p() and form.as_table() do not produce "elementmerge" friendly markup.

        The error messages are rendered into "optional" elements at the same dom-level as the inputs, which causes inputs to be recreated on merge if the presence of error message changes.
    {% endcomment %}
    {% include 'django_jsform/complete_form.html' %}  

    <h2>Dynamic Data</h2>
    <p>The following timestamp should be updated on every submit.</p>
    {{result}}

    <p>Also, this document's <code>title</code> has a dynamic timestamp, and you should see it update on every submission.</p>

    <h2>Element Merge Whitelist</h2>
    <p>If you <button onclick='elementmerge.merge_from("?whitelist=true");'>click this button</button>, only the two timestamps below will update:</p>
    <p id='whitelist-1' {% if request.GET.whitelist %}elementmerge-whitelist{% endif %}>{{result}}</p>
    <p id='whitelist-2' {% if request.GET.whitelist %}elementmerge-whitelist{% endif %}>{{result}}</p>
    <p {% if request.GET.whitelist %}elementmerge-whitelist{% endif %}>{{result}}</p>
    <form target=jsform onjsformsubmitted="this.removeAttribute('block-submissions');">
        <button type=submit name=whitelist value=true>You can also submit test by submitting this form.</button>
    </form>

    <h2>Deleting Removed Elements</h2>
    <template id="delete-template">
        <p>This element was added dynamically.</p>
        <p>So was this one. Both should be deleted when you merge the page.</p>
        <button onclick="elementmerge.reload()">Merge</button>
    </template>
    <div id="delete-container"></div>
    <script>
        document.getElementById('delete-container').appendChild(document.getElementById('delete-template').content);
    </script>

    <h2>Custom Merge Options</h2>
    <p>Last merge: {{result}}</p>
    <p id="custom-merge-whitelist">A: {{result}}</p>
    <template id="custom-merge-options">
        <p id='custom-merge-added'>B: This element was added dynamically.</p>
    </template>
    <div id="custom-merge-container"></div>
    <script>
        document.getElementById('custom-merge-container').appendChild(document.getElementById('custom-merge-options').content);
    </script>
    <p>{{result}}</p>
    <div>
        <button onclick="elementmerge.reload({whitelist: '#custom-merge-whitelist'})">Merge, with custom whitelist (only timestamp A above should update)</button><br>
        <button onclick="elementmerge.reload({nomerge: '#custom-merge-whitelist', skip: '#custom-merge-added'})">Merge, nomerge A, skip B</button><br>
        <button onclick="elementmerge.reload();">Merge normal</button>
    </div>

    <details open>
        <summary>Test</summary>
        Test content
    </details>
    <details>
        <summary><code>ignoreattrs</code></summary>
        <p>You can use the <code>ignoreattrs</code> option to prevent certain attributes from being merged. This is useful for attributes that represent user-controlled state.
            <button onclick="elementmerge.reload({ignoreattrs: {open: 'details'}})">This button won't close the details element</button>
            <button onclick='elementmerge.reload()'>But this one will</button>
        </p>

    </details>

    <h2><code>elementmergecomplete</code> Event</h2>
    <p>Click the below button,  and you should get an alert.</p>
    <div>
        <button onclick="
            function onmerge(event) {alert(event); document.removeEventListener('elementmergecomplete', onmerge)};
            document.addEventListener('elementmergecomplete', onmerge);
            elementmerge.reload();
            ">Merge, and listen for complete</button>
    </div>

    <h2><code>elementmerge-replace</code></h2>
    <p>
        <label><input type="checkbox" name=""> Click me.</label><br>
        <label><input type="checkbox" name="" elementmerge-replace> And click me.</label><br>
        Then <button type=button onclick="elementmerge.reload();">click me</button>. The first checkbox should remain checked, but the second should not (since it has <code>elementmerge-replace</code>, the element is completely replaced, and its state is lost).
    </p>

</body>
</html>