<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>jsform_execresponse tests</title>
    <script defer src="{% static "jsform/jsform.js" %}"></script>
    <script defer src="{% static "jsform/jsform_execresponse.js" %}"></script>
    <style>
        [block-submissions] {
            opacity: 0.5;
        }
    </style>
</head>
<body>
    <h1>jsform_execresponse tests</h1>
    <h2>Non-javascript Response</h2>
    <p>This should alert the basic success message.</p>
    <form target="jsform">
        <input type="submit">
    </form>

    <h2>alert()</h2>
    <p>This should alert "Hooray!", and you can only submit once.</p>
    <form target="jsform">
        <button type="submit" name="ACTION" value="ALERT">Submit</button>
    </form>

    <h2>alert() Multiple</h2>
    <p>This should alert "Hooray!", and you can submit multiple times.</p>
    <form target="jsform">
        <button type="submit" name="ACTION" value="ALERT_MULTIPLE">Submit</button>
    </form>

    <h2>Handling jsformerror</h2>
    <p>Should alert "Custom message with non 2XX response"</p>
    <form target="jsform">
        <button type="submit" name="ACTION" value="ALERT_400">Submit</button>
    </form>

    <h2>back()</h2>
    <p>This should cause your browser to go back.</p>
    <form target="jsform">
        <button type="submit" name="ACTION" value="BACK">Submit</button>
    </form>

    <h2>Reset Form</h2>
    <form target="jsform">
        <input>
        <button name="ACTION" value="RESET">Reset</button>
    </form>

    <h2>Submit Button Reference</h2>
    <form target="jsform">
        <input type="hidden" name="ACTION" value="SUBMITTING_BUTTON_TEST">
        <p>Press each button. Each one should alert the innerText of the clicked button.</p>
        <button>A</button> <button>B</button>
    </form>

</body>
</html>