<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>jsform tests</title>
    <script defer src="{% static "jsform/jsform.js" %}"></script>
    <script defer src="{% static "jsform/jsform_execresponse.js" %}"></script>
    <script>
        addEventListener('jsformsubmitted', function(e) {
            if (e.target.hasAttribute('allow-duplicate-submissions')) {
                e.target.removeAttribute('block-submissions');
            }
        });
    </script>
    <link rel="stylesheet" type="text/css" href="{% static "django_jsform/django_jsform.css" %}">
    <style>
        [block-submissions] {
            opacity: 0.5;
        }
    </style>
</head>
<body>
    <h1>jsform tests</h1>
    <h2>Normal Form</h2>
    <form action="/does_not_exist/">
        <p>This form does NOT have <code>target="jsform"</code>. Clicking the submit button should submit normally, trying to load a page which doesn't exist. <br>
        <input type="submit" value="Submit">
        </p>
    </form>

    <h2>Submission Blocking</h2>
    <form target="jsform">
        <p>
            This form uses the default success/error/networkerror actions.
        </p>
        <p>
            This button is a GET submission, which will succeed. The form will "unblock" after the success message.
            <input type="submit" value="Submit">
        </p>
        <p>
            This button causes a POST submission, which will fail. The form will "unblock" after the error message.
            <input type="submit" value="Submit" formmethod="POST">
        </p>
        {% comment %}
            Doesn't work - causes 404, not network error. Don't know how to force network error.
            Should we enable this, with instructions for user to disable internet connection?
        <p>
            This button causes a POST submission to invalid domain, which will cause a network error. The form will NOT unblock.
            <input type="submit" value="Submit" formmethod="POST" formaction="http://fakedomainthatisntrealaffffffffffffffffafagagakjo">
        </p>
        {% endcomment %}
        {# TODO - add tests to verify other method/result combos #}
    </form>
    <!-- Note - clear attribute after timeout, so that jsform runs first (we need to wait until it adds the attribute) -->
    <form target="jsform" allow-duplicate-submissions>
        <p>
            This form clears the <code>block-submissions</code> attribute on <code>jsformsubmitted</code>. You'll notice the submit button become "renabled" immediately, even before you dismiss the success message alert.<br>
            <input type="submit" value="Submit">
        </p>
    </form>

    <h2>Programmatic Submit</h2>
    <form target="jsform">
        <p><code>form.submit()</code> still uses jsform. <br><button type="button" onclick="this.form.submit()">Verify</button></p>
    </form>

    <h2>Network Error</h2>
    <form action="http://fakedomain.afhaghafakljfhaakfh.com" target="jsform">
        Server in action does not exist. Default handling of network should alert(). <br>
        <input type="submit" value="Submit">
    </form>

    <h2>Network Error, Custom Listener</h2>
    <form
        action="http://fakedomain.afhaghafakljfhaakfh.com" target="jsform"
        onjsformnetworkerror="
            event.preventDefault();
            alert('Custom Network Error Message!');
        "
    >
        Should alert "Custom Network Error Message", and default alert should be suppressed. <br>
        <input type="submit" value="Submit">
    </form>

    <h2>HTTP Status Error</h2>
    <form action="/does_not_exist/" target="jsform">
        Should alert "Submission Error: 404 Not Found". <br>
        <input type="submit" value="Submit">
    </form>

    <h2>HTTP Status Error, Custom Listener</h2>
    <form action="/does_not_exist/" target="jsform" onjsformerror="
            event.preventDefault();
            alert(event.detail);
    ">
        Should alert the XMLHttpRequest object, and the default alert should be suppressed. <br>
        <input type="submit" value="Submit">
    </form>

    <h2>Success</h2>
    <form target="jsform">
        Should alert "Submission complete: 200 OK". <br>
        <input type="submit" value="Submit">
    </form>

    <h2>Succcess, Custom Listener</h2>
    <form target="jsform" onjsformsuccess="
        event.preventDefault();
        alert(event.detail.responseText);
    ">
        Should alert the html source of this page, default alert should be suppressed. <br>
        <input type="submit" value="Submit">
    </form>

    <h2>Inline Handler - This and Return False</h2>
    <form target="jsform" onjsformsuccess="alert(this); return false;">
        Should alert the form element, default alert should be suppressed. <br>
        <input type="submit" value="Submit">
    </form>
    
    <h2>GET Serialization</h2>
    <p>Submit the form, without making any changes. Should alert a success message.</p>
    <p>Then make some changes and submit form. Should alert an error message.</p>
    <form novalidate allow-duplicate-submissions target="jsform" action='/verify_simple_form/'>
        <table>
            {{simple_form.as_table}}
        </table>
        <input type="submit" name="Submit">
    </form>

    <h2>POST Serialization</h2>
    <p>Submit the form, without making any changes. Should alert a success message.</p>
    <form method="POST" novalidate allow-duplicate-submissions target="jsform" action='/verify_simple_form/'>{% csrf_token %}
        <table>
            {{simple_form.as_table}}
        </table>
        <input type="submit" name="Submit">
    </form>
        
    <h2>File Upload</h2>
    <p>The form should correctly summarize the details of the uploaded files.</p>
    <p>Try with no files, one file, and multiple files.</p>
    <form method="POST" target="jsform" allow-duplicate-submissions action="/verify_files/">{% csrf_token %}
        <input type="file" multiple name="files"><br>
        <input type="submit" value="Submit">
    </form>

    <h2>Submit Button</h2>
    <p>Here we verify that the "submitting button" gets serialized, and that no others do. You should select the second button in each test. Each submission should alert a success response.</p>

    <p>Try clicking the second button, and also activating it by keyboard.</p>
    <form target="jsform" allow-duplicate-submissions action="/verify_submit_button/">{% csrf_token %}
        <button type="submit" name="A" value="buttonA">A (button)</button>
        <button type="submit" name="B" value="buttonB">B (button)</button>
        <button type="submit" name="C" value="buttonA">C (button)</button>
    </form>

    <p>And now with input elements.</p>
    <form target="jsform" allow-duplicate-submissions action="/verify_submit_button/">{% csrf_token %}
        <input type="submit" name="A" value="buttonA">
        <input type="submit" name="B" value="buttonB">
        <input type="submit" name="C" value="buttonA">
    </form>

    <p>And now with POST.</p>
    <form target="jsform" allow-duplicate-submissions action="/verify_submit_button/" method="POST">{% csrf_token %}
        <button type="submit" name="A" value="buttonA">A (button)</button>
        <button type="submit" name="B" value="buttonB">B (button)</button>
        <button type="submit" name="C" value="buttonA">C (button)</button>
    </form>    

    <h2>replace-query</h2>
    <form novalidate allow-duplicate-submissions target="jsform" replace-query>
        <p>The url should be updated with the form data on every submit. No history entry will be created. You can submit multiple times, and your back button will still take you to the previous page.</p>
        <input type="text" name="data" value="foobar"><br>
        <input type="submit" name="Submit">
    </form>

    <h2>Form Attribute Masking Elements</h2>
    <p>This form has (hidden) elements masking important form attributes ("target", "action", and "method", "dispatchEvent").</p>
    <p>It should alert a success message on submission.</p>
    <form target="jsform" action="/verify_attrs/" method="POST">{% csrf_token %}
        <input type="hidden" name="target" value="_blank">
        <input type="hidden" name="method" value="GET">
        <input type="hidden" name="action" value="/fake_endpoint/">
        <input type="hidden" name="dispatchEvent" value="foo">
        <input type="submit" value="Submit">
        <button type="button" onclick="this.form.submit();">Programmatic Submit Should Also Work</button>
    </form>

    <h2>Form With Input Named "elements"</h2>
    <p>This form has an input named "elements". We can't handle this properly (for GET requests), so throw an error with a meaningful message. Try submitting the form, and ensure the console has an appropriate message.</p>
    <form target="jsform">{% csrf_token %}
        <input type="hidden" name="elements" value="foo">
        <input type="submit" value="Submit">
    </form>

    <h2><code>formtarget</code> Support</h2>
    <form target="jsform" action="/200/">
        <p>This form uses jsform. A is a normal button - pressing it should trigger an alert.</p>
        <button>A</button>
        <p>B has formtarget=_self set. It should load an empty page in the current tab.</p>
        <button formtarget="_self">B</button>
    </form>

    <form action="/200/">
        <p>This form does not use jsform. A is a normal button - pressing it should load an empty page in the current tab.</p>
        <button>A</button>
        <p>B has formtarget=jsform. It should trigger an alert.</p>
        <button formtarget="jsform">B</button>
    </form>

    <h2>X-Requested-With</h2>
    <form action='/check_x_requested_with/' target=jsform><input type="submit" name=""></form>

    <h2>Non-empty Post Requests</h2>
    <form id='post-empty' action='/echo_post/' target=jsform method=POST>
        <button type='submit'>Submit this form</button>
    </form>
    <script>
        document.getElementById('post-empty').addEventListener('jsformsuccess', function(e) {
            var r = e.detail;
            if (r.responseText == '__hack_ensure_body_not_empty__=') alert('Good ✔')
            else alert('FAIL!')
            e.preventDefault();
        });
    </script>

</body>
</html>